server {
	listen 0.0.0.0:400

	root pages/
	index example.html

	autoindex off

	allow_methods GET POST DELETE

	client_body_size 1000

	location /home {
		allow_methods POST GET
		index example3.html
		autoindex off
	}

	location /upload {
		allow_methods POST GET
		cgi_path example
		client_body_size 10000
	}

	location /directory {
		autoindex off
		cgi_path welcome
		allow_methods POST GET
	}
}

server {
	listen 0.0.0.0:500

	redirect 0.0.0.0:400
}