server {
	server_name youpi
	listen 0.0.0.0:1001

	root pages/
	index example.html

	autoindex off

	allow_methods GET POST DELETE

	client_body_size 1000

	location /home {
		allow_methods GET
		index example2.html
		autoindex off
	}

	location /post_body {
		allow_methods POST DELETE GET
		client_body_size 100
	}

	location /directory {
		allow_methods GET
		root YoupiBanane/
		index youpi.bad_extension
	}

}
