server {
	listen 0.0.0.0:400

	root pages/
	index example.html

	autoindex on

	allow_methods GET POST DELETE

	client_body_size 1000

	location /home {
		allow_methods POST GET
		index example3.html
		autoindex off
	}

	location /upload {
		allow_methods POST DELETE GET
		cgi_path example.php
		client_body_size 10000
	}

	location /directory {
		autoindex on
		allow_methods GET
		index example3.html
	}
}

server {
	listen 0.0.0.0:500

	redirect 0.0.0.0:400
}